doctype
html
    block head
        title Natours | #{title}

        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')

        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet',  href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
        link(rel='shortcut icon', type='imag/png', href='/img/favicon.png')

    body
        include components/_header

        block content
            h1 hello

        include components/_footer

    block scripts
        script(src='https://unpkg.com/axios/dist/axios.min.js')
        //script(src='/js/mapbox.js')
        //script(src='/js/login.js')
        script(src='/js/app.js')