.theme-dark {
    --page-background-color: #17181E;
    --card-background-color: #1F2027;
    --button-background-color: #68d391;
    --header-background-color: #1F2027;
    --default-text-color: #fff;
    --card-text-color: hotpink;
}
