<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <header>
        {% include "inc/nav.html.j2" %}
    </header>
    <div class="container w-full mx-auto bg-gray-100">
        {% block over %}
            if the template is not prepared, this default body will show.
        {% endblock over %}

        {% block looping_block %}{% endblock looping_block %}

        {% block macrotest %}{% endblock macrotest %}

        {% block call_macro_test %}{% endblock call_macro_test %}

        {% block call_macro_test2 %}{% endblock call_macro_test2 %}

        {% block tested %}{% endblock tested %}
    </div>
    {% include 'inc/inc3.html.j2' ignore missing %}
    {% include ['inc/inc3.html.j2', 'inc/inc4.html.j2'] ignore missing %}
</body>
</html>