NODE_ENV=development
PORT=8000

DBDRIVER=mongodb
DBUSER=sunday00
DBPASS=Zktm500CC!
DBHOST=127.0.0.1
DBPORT=27017
DBNAME=natours

JWT_SECRET=
JWT_EXPIRE=90

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=