<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Python Manage Employ{% endblock title %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <header>
        {% block header %}
            {% include 'inc/header.html.j2' %}
        {% endblock header %}
    </header>
    <div class="container">
        {% block contents %}{% endblock contents %}
    </div>
    <footer>
        {% block footer %}{% endblock footer %}
    </footer>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>